.prose {
  max-width: 80rem;
}

.prose code {
  @apply px-1 py-1 border rounded-md dark:border-gray-600;
}

.prose a {
  text-decoration: none;
}

.prose > ol > li > :last-child,
.prose > ul > li > :last-child {
  margin-bottom: 0;
}
.prose > ol > li > :first-child,
.prose > ul > li > :first-child {
  margin-top: 0;
}

.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::after {
  content: '';
}

.prose blockquote {
  border-style: solid;
  border-width: 0 0 0 0.5rem;
  border-color: #16D3E4;
  margin-bottom: 1.6rem;
  padding-left: 1rem;
}

.prose blockqutote:not(:first-child) {
  margin-bottom: 1.6rem;
}

.prose h2 {
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
  font-size: 2.4rem;
}

.prose h3 {
  font-size: 2rem;
  margin-top: 2.4rem;
}

.prose p {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 3rem;
}

.prose p:not(:last-child) {
  margin-bottom: 1.6rem;
}

.prose hr {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #16D3E4;
}

.mdx.prose :where(h1, h2, h3, 4) {
  scroll-margin-top: 100px;
  position: relative;
  display: block;
  margin-right: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}

.mdx.prose :where(h1, h2, h3, h4) > a {
  border-bottom: none;
}

/* Custom Heading Style for Projects */
.mdx.prose.projects blockquote {
  font-style: normal;
}
.mdx.prose.projects blockquote:first-of-type h2 {
  margin-top: 0;
}
.mdx.prose.projects blockquote.with-icons h2 {
  margin-bottom: 0;
}

/** HASH ANCHOR */
.hash-anchor {
  top: 0px;
  bottom: 0px;
  width: 100%;
  position: absolute;
}

.hash-anchor:hover {
  background-image: linear-gradient(to right, #16D3E4, #16D3E4);
  transition: .5s;
}

.hash-anchor:hover:after,
.hash-anchor:focus:after {
  visibility: visible;
}

.hash-anchor:after {
  position: absolute;
  visibility: hidden;
  font-size: 2rem;
  color: #16D3E4;
  top: 10%;
  right: -2rem;
  content: '#';
}